#headlineText{
    -fx-font-weight: BOLD;
    -fx-font-size: 15;
}

.text-area{
    -fx-text-fill: white;
    -fx-background-color: #d5bdaf;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-wrap-text: true;
    -fx-font-family: "Verdana";
    -fx-font-size: 12;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color: #ddb892;
}